
/* Navbar */
html {
  --scrollbarBG: #292b2c;
  --thumbBG: #c0b9b9;
}

body::-webkit-scrollbar {
  width: 16px
}

body {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  margin: 0;
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 3px solid var(--scrollbarBG);
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}

img.logo {
  max-width: 70%;
  max-height: 70%;
}
