
/* Navbar */
html {
  --scrollbarBG: #292b2c;
  --thumbBG: #c0b9b9;
}

body::-webkit-scrollbar {
  width: 16px
}

body {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  margin: 0;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 3px solid var(--scrollbarBG);
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}

img.logo {
  max-width: 70%;
  max-height: 70%;
}


body {
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}
